body {
    background-image: url(./images/paper_2.png)
}

h1 {
    font-family: 'Cinzel', serif !important;
}

#input-col {
    max-width: 900px;
}



@media screen and (min-width: 450px) {
    #reset-button {
        max-width: 400px;
    }
}